*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fffafc;
    color:#333;
}

header{
    background:#ffffff;
    padding:20px;
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    z-index:1000;
}

header h1{
    color:#d4af37;
}

nav a{
    text-decoration:none;
    margin-left:20px;
    color:#555;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.banner{
    background:linear-gradient(135deg,#ffe8f2,#fff7d6);
    text-align:center;
    padding:100px 20px;
}

.banner h2{
    font-size:40px;
    margin-bottom:20px;
}

.banner p{
    font-size:20px;
}

#looks{
    padding:60px 20px;
}

#looks h2{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    transition:.4s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    display:block;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}
#galeria,
#noticias,
#sobre{
    padding:60px 20px;
}

#galeria h2,
#noticias h2,
#sobre h2{
    text-align:center;
    margin-bottom:35px;
    color:#d4af37;
}

#sobre p{
    font-size:18px;
    line-height:1.8;
}

html{
    scroll-behavior:smooth;
}
#modoEscuro{
    padding:10px 18px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#d4af37;
    color:white;
    font-weight:bold;
}

.pesquisa{
    text-align:center;
    margin:40px;
}

#pesquisa{
    width:80%;
    max-width:500px;
    padding:15px;
    border-radius:30px;
    border:1px solid #ddd;
    font-size:16px;
}

.dark{
    background:#1b1b1b;
    color:white;
}

.dark header{
    background:#2b2b2b;
}

.dark .card{
    background:#333;
    color:white;
}
#topo{
    position:fixed;
    right:20px;
    bottom:20px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#d4af37;
    color:white;
    font-size:22px;
    cursor:pointer;
    display:none;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}
